<!DOCTYPE html>
<html lang="pt-br">

<%- include('../partials/head')%>
<body class="container">
    <%- include('../partials/header')%>

    <main>
        <div class="jumbotron">
            <h1>Sobre Mim</h1>
            <p>Sou estudante de Sistemas de informação no CEFET/RJ</p>
        </div>
    </main>

    <%- include('../partials/footer')%>
</body>
</html>